In [439]:
import pandas as pd
import numpy as np
import datetime as dt
import os
import sys
sys.path.insert(0, './')
import util
from collections import OrderedDict
from datetime import datetime

In [527]:
orders = pd.read_csv("./orders/orders-01.csv", header=0, parse_dates=True, na_values=['nan'])
orders.sort_values(by='Date', inplace=True)
start_date = orders.loc[0, 'Date']
end_date = orders.iloc[-1, 0]
orders.set_index('Date', inplace=True)
orders

           Symbol Order  Shares
Date
2011-01-10   AAPL   BUY    1500
2011-01-13   AAPL  SELL    1500
2011-01-13    IBM   BUY    4000
2011-01-26   GOOG   BUY    1000
2011-02-02    XOM  SELL    4000
2011-02-10    XOM   BUY    4000
2011-03-03   GOOG  SELL    1000
2011-03-03   GOOG  SELL    2200
2011-05-03    IBM   BUY    1500
2011-06-03    IBM  SELL    3300
2011-06-10   AAPL   BUY    1200
2011-08-01   GOOG   BUY      55
2011-08-01   GOOG  SELL      55
2011-12-20   AAPL  SELL    1200
2011-12-21   AAPL   BUY      20
2011-12-27   GOOG   BUY    2200
2011-12-28    IBM  SELL    2200

In [533]:
pd.date_range(start_date, end_date)
stocks = list(orders.Symbol.unique())
prices = util.get_data(stocks, pd.date_range(start_date, end_date))
prices.fillna(method='ffill', inplace=True)
prices.fillna(method='bfill', inplace=True)
prices['Cash'] = 1.0
prices

               SPY    AAPL     IBM    GOOG    XOM  Cash
2011-01-10  123.19  340.99  143.41  614.21  72.02   1.0
2011-01-11  123.63  340.18  143.06  616.01  72.56   1.0
2011-01-12  124.74  342.95  144.82  616.87  73.41   1.0
2011-01-13  124.54  344.20  144.55  616.69  73.54   1.0
2011-01-14  125.44  346.99  145.70  624.18  74.62   1.0
2011-01-18  125.65  339.19  146.33  639.63  75.45   1.0
2011-01-19  124.42  337.39  151.22  631.75  75.00   1.0
2011-01-20  124.26  331.26  151.33  626.77  74.53   1.0
2011-01-21  124.54  325.32  151.04  611.83  75.71   1.0
2011-01-24  125.25  336.01  155.05  611.08  75.34   1.0
2011-01-25  125.31  339.94  156.81  619.91  75.43   1.0
2011-01-26  125.80  342.38  156.42  616.50  76.37   1.0
2011-01-27  126.11  341.74  156.45  616.79  76.58   1.0
2011-01-28  123.91  334.66  154.64  600.99  75.72   1.0
2011-01-31  124.84  337.87  157.35  600.36  77.34   1.0
2011-02-01  126.84  343.55  158.87  611.04  80.44   1.0
2011-02-02  126.60  342.85  158.62  612.00  79.96   1.0
2011-02-03  126.88  341.97  158.84  610.15  79.99   1.0
2011-02-04  127.24  345.02  159.30  610.98  79.84   1.0
2011-02-07  128.03  350.38  160.09  614.29  80.46   1.0
2011-02-08  128.61  353.68  161.93  618.38  79.97   1.0
2011-02-09  128.32  356.63  160.56  616.50  79.55   1.0
2011-02-10  128.37  353.02  160.02  616.44  80.18   1.0
2011-02-11  129.14  355.32  159.78  624.50  79.81   1.0
2011-02-14  129.45  357.64  159.17  628.15  81.83   1.0
2011-02-15  129.04  358.36  158.80  624.15  79.96   1.0
2011-02-16  129.85  361.58  159.34  624.22  80.65   1.0
2011-02-17  130.24  356.77  160.16  625.26  80.83   1.0
2011-02-18  130.51  349.06  160.75  630.08  81.43   1.0
2011-02-22  127.90  337.16  157.93  610.21  82.34   1.0
...            ...     ...     ...     ...    ...   ...
2011-11-15  124.10  387.17  186.44  616.56  77.62   1.0
2011-11-16  122.13  383.13  184.33  611.47  76.79   1.0
2011-11-17  120.19  375.80  183.45  600.87  76.41   1.0
2011-11-18  120.06  373.34  182.97  594.88  76.45   1.0
2011-11-21  117.78  367.43  179.26  580.94  75.48   1.0
2011-11-22  117.31  374.90  179.09  580.00  74.61   1.0
2011-11-23  114.73  365.42  175.77  570.11  73.19   1.0
2011-11-25  114.51  362.02  174.89  563.00  72.52   1.0
2011-11-28  117.83  374.51  179.98  588.19  74.43   1.0
2011-11-29  118.16  371.60  178.72  582.93  75.50   1.0
2011-11-30  123.02  380.57  185.70  599.39  78.94   1.0
2011-12-01  123.00  386.27  187.13  613.77  78.30   1.0
2011-12-02  122.89  388.03  187.34  620.36  78.30   1.0
2011-12-05  124.23  391.33  188.50  625.65  78.95   1.0
2011-12-06  124.27  389.28  190.58  623.77  79.31   1.0
2011-12-07  124.74  387.43  191.67  623.39  79.57   1.0
2011-12-08  122.00  388.99  189.23  616.05  78.38   1.0
2011-12-09  124.07  391.94  192.18  627.42  79.82   1.0
2011-12-12  122.26  390.16  189.83  625.39  78.56   1.0
2011-12-13  121.11  387.15  188.81  625.63  79.03   1.0
2011-12-14  119.82  378.56  186.41  618.07  77.96   1.0
2011-12-15  120.26  377.32  185.18  619.54  78.54   1.0
2011-12-16  120.44  379.39  181.32  625.96  78.67   1.0
2011-12-19  119.15  380.58  180.65  621.83  78.05   1.0
2011-12-20  122.75  394.26  184.95  630.37  80.47   1.0
2011-12-21  122.99  394.76  179.25  625.82  81.57   1.0
2011-12-22  124.08  396.85  179.81  629.70  82.72   1.0
2011-12-23  125.19  401.61  182.49  633.14  83.63   1.0
2011-12-27  125.29  404.79  182.68  640.25  83.69   1.0
2011-12-28  123.64  400.92  181.74  639.70  82.61   1.0

[245 rows x 6 columns]

In [529]:
positions = pd.DataFrame().reindex_like(prices)
positions.fillna(0, inplace=True)
positions.iloc[0, -1] = 1000000
for date, row in orders.iterrows():
    if date not in positions.index:
        continue
    symbol = row['Symbol']
    shares = row['Shares']
    action = row['Order']
    price = prices.loc[date, symbol]
    if action == 'SELL':
        shares = shares * -1
    positions.loc[date, symbol] += shares
    positions.loc[date, 'Cash'] -= shares * price
positions = positions.cumsum(axis=0)
positions

            SPY    AAPL     IBM    GOOG     XOM       Cash
2011-01-10  0.0  1500.0     0.0     0.0     0.0   488515.0
2011-01-11  0.0  1500.0     0.0     0.0     0.0   488515.0
2011-01-12  0.0  1500.0     0.0     0.0     0.0   488515.0
2011-01-13  0.0     0.0  4000.0     0.0     0.0   426615.0
2011-01-14  0.0     0.0  4000.0     0.0     0.0   426615.0
2011-01-18  0.0     0.0  4000.0     0.0     0.0   426615.0
2011-01-19  0.0     0.0  4000.0     0.0     0.0   426615.0
2011-01-20  0.0     0.0  4000.0     0.0     0.0   426615.0
2011-01-21  0.0     0.0  4000.0     0.0     0.0   426615.0
2011-01-24  0.0     0.0  4000.0     0.0     0.0   426615.0
2011-01-25  0.0     0.0  4000.0     0.0     0.0   426615.0
2011-01-26  0.0     0.0  4000.0  1000.0     0.0  -189885.0
2011-01-27  0.0     0.0  4000.0  1000.0     0.0  -189885.0
2011-01-28  0.0     0.0  4000.0  1000.0     0.0  -189885.0
2011-01-31  0.0     0.0  4000.0  1000.0     0.0  -189885.0
2011-02-01  0.0     0.0  4000.0  1000.0     0.0  -189885.0
2011-02-02  0.0     0.0  4000.0  1000.0 -4000.0   129955.0
2011-02-03  0.0     0.0  4000.0  1000.0 -4000.0   129955.0
2011-02-04  0.0     0.0  4000.0  1000.0 -4000.0   129955.0
2011-02-07  0.0     0.0  4000.0  1000.0 -4000.0   129955.0
2011-02-08  0.0     0.0  4000.0  1000.0 -4000.0   129955.0
2011-02-09  0.0     0.0  4000.0  1000.0 -4000.0   129955.0
2011-02-10  0.0     0.0  4000.0  1000.0     0.0  -190765.0
2011-02-11  0.0     0.0  4000.0  1000.0     0.0  -190765.0
2011-02-14  0.0     0.0  4000.0  1000.0     0.0  -190765.0
2011-02-15  0.0     0.0  4000.0  1000.0     0.0  -190765.0
2011-02-16  0.0     0.0  4000.0  1000.0     0.0  -190765.0
2011-02-17  0.0     0.0  4000.0  1000.0     0.0  -190765.0
2011-02-18  0.0     0.0  4000.0  1000.0     0.0  -190765.0
2011-02-22  0.0     0.0  4000.0  1000.0     0.0  -190765.0
...         ...     ...     ...     ...     ...        ...
2011-11-15  0.0  1200.0  2200.0 -2200.0     0.0  1651056.0
2011-11-16  0.0  1200.0  2200.0 -2200.0     0.0  1651056.0
2011-11-17  0.0  1200.0  2200.0 -2200.0     0.0  1651056.0
2011-11-18  0.0  1200.0  2200.0 -2200.0     0.0  1651056.0
2011-11-21  0.0  1200.0  2200.0 -2200.0     0.0  1651056.0
2011-11-22  0.0  1200.0  2200.0 -2200.0     0.0  1651056.0
2011-11-23  0.0  1200.0  2200.0 -2200.0     0.0  1651056.0
2011-11-25  0.0  1200.0  2200.0 -2200.0     0.0  1651056.0
2011-11-28  0.0  1200.0  2200.0 -2200.0     0.0  1651056.0
2011-11-29  0.0  1200.0  2200.0 -2200.0     0.0  1651056.0
2011-11-30  0.0  1200.0  2200.0 -2200.0     0.0  1651056.0
2011-12-01  0.0  1200.0  2200.0 -2200.0     0.0  1651056.0
2011-12-02  0.0  1200.0  2200.0 -2200.0     0.0  1651056.0
2011-12-05  0.0  1200.0  2200.0 -2200.0     0.0  1651056.0
2011-12-06  0.0  1200.0  2200.0 -2200.0     0.0  1651056.0
2011-12-07  0.0  1200.0  2200.0 -2200.0     0.0  1651056.0
2011-12-08  0.0  1200.0  2200.0 -2200.0     0.0  1651056.0
2011-12-09  0.0  1200.0  2200.0 -2200.0     0.0  1651056.0
2011-12-12  0.0  1200.0  2200.0 -2200.0     0.0  1651056.0
2011-12-13  0.0  1200.0  2200.0 -2200.0     0.0  1651056.0
2011-12-14  0.0  1200.0  2200.0 -2200.0     0.0  1651056.0
2011-12-15  0.0  1200.0  2200.0 -2200.0     0.0  1651056.0
2011-12-16  0.0  1200.0  2200.0 -2200.0     0.0  1651056.0
2011-12-19  0.0  1200.0  2200.0 -2200.0     0.0  1651056.0
2011-12-20  0.0     0.0  2200.0 -2200.0     0.0  2124168.0
2011-12-21  0.0    20.0  2200.0 -2200.0     0.0  2116272.8
2011-12-22  0.0    20.0  2200.0 -2200.0     0.0  2116272.8
2011-12-23  0.0    20.0  2200.0 -2200.0     0.0  2116272.8
2011-12-27  0.0    20.0  2200.0     0.0     0.0   707722.8
2011-12-28  0.0    20.0     0.0     0.0     0.0  1107550.8

[245 rows x 6 columns]

In [530]:
portval = (positions * prices).sum(axis=1)
portval.to_frame()

                    0
2011-01-10  1000000.0
2011-01-11   998785.0
2011-01-12  1002940.0
2011-01-13  1004815.0
2011-01-14  1009415.0
2011-01-18  1011935.0
2011-01-19  1031495.0
2011-01-20  1031935.0
2011-01-21  1030775.0
2011-01-24  1046815.0
2011-01-25  1053855.0
2011-01-26  1052295.0
2011-01-27  1052705.0
2011-01-28  1029665.0
2011-01-31  1039875.0
2011-02-01  1056635.0
2011-02-02  1056595.0
2011-02-03  1055505.0
2011-02-04  1058775.0
2011-02-07  1062765.0
2011-02-08  1076175.0
2011-02-09  1070495.0
2011-02-10  1065755.0
2011-02-11  1072855.0
2011-02-14  1074065.0
2011-02-15  1068585.0
2011-02-16  1070815.0
2011-02-17  1075135.0
2011-02-18  1082315.0
2011-02-22  1051165.0
...               ...
2011-11-15  1169396.0
2011-11-16  1171104.0
2011-11-17  1183692.0
2011-11-18  1192862.0
2011-11-21  1208276.0
2011-11-22  1218934.0
2011-11-23  1222012.0
2011-11-25  1231638.0
2011-11-28  1202406.0
2011-11-29  1207714.0
2011-11-30  1197622.0
2011-12-01  1175972.0
2011-12-02  1164048.0
2011-12-05  1158922.0
2011-12-06  1165174.0
2011-12-07  1166188.0
2011-12-08  1178840.0
2011-12-09  1163856.0
2011-12-12  1161016.0
2011-12-13  1154632.0
2011-12-14  1155676.0
2011-12-15  1148248.0
2011-12-16  1128116.0
2011-12-19  1137156.0
2011-12-20  1144244.0
2011-12-21  1141714.0
2011-12-22  1134451.8
2011-12-23  1132875.0
2011-12-27  1117714.6
2011-12-28  1115569.2

[245 rows x 1 columns]

In [487]:
headers = stocks + ['Cash', 'Date', 'Port_Val']
date_format = "%Y-%m-%d"
a = datetime.strptime(start_date, date_format)
b = datetime.strptime(end_date, date_format)
delta = b - a
df_trades = pd.DataFrame(0, index=range(delta.days+1), columns=headers)
df_trades['Date'] = pd.date_range(start=start_date, end=end_date)
df_trades = df_trades.set_index('Date')
df_trades.loc[start_date, 'Cash'] = 1000000

In [488]:
for index, row in orders.iterrows():
    date = row['Date']
    stock = row['Symbol']
    shares = row['Shares']
    action = row['Order']
    if action == 'SELL':
        shares = shares * -1
    df_trades.loc[date, stock] += shares
df_holdings = df_trades.copy(deep=True)
for stock in list(df_trades.axes[1])[:-2]:
    df_holdings[stock] = df_trades[stock].cumsum()

In [489]:
df_trades

            AAPL     Cash  Port_Val
Date
2011-01-05  1500  1000000         0
2011-01-06     0        0         0
2011-01-07     0        0         0
2011-01-08     0        0         0
2011-01-09     0        0         0
2011-01-10     0        0         0
2011-01-11     0        0         0
2011-01-12     0        0         0
2011-01-13     0        0         0
2011-01-14     0        0         0
2011-01-15     0        0         0
2011-01-16     0        0         0
2011-01-17     0        0         0
2011-01-18     0        0         0
2011-01-19     0        0         0
2011-01-20 -1500        0         0

In [490]:
pre_cash = 1000000
for index, row in df_trades.iterrows():
    daily_port = 0
    date = index.date()
    for stock in list(df_trades.axes[1])[:-2]:
        if df_trades.loc[date, stock] != 0:
            #df_trades.loc[date, 'Cash'] = pre_cash + df_prices.loc[date, stock] * df_holdings.loc[date, stock] * -1 - 9.95 - df_prices.loc[date, stock] * 0.02
            df_trades.loc[date, 'Cash'] = pre_cash + df_prices.loc[date, stock] * df_holdings.loc[date, stock] * -1
        else:
            df_trades.loc[date, 'Cash'] = pre_cash + df_prices.loc[date, stock] * df_holdings.loc[date, stock] * -1
    for stock in list(df_trades.axes[1])[:-2]:
        df_trades.loc[date, 'Port_Val'] += df_prices.loc[date, stock] * df_holdings.loc[date, stock]
    df_trades.loc[date, 'Port_Val'] += df_trades.loc[date, 'Cash']
    pre_cash = df_trades.loc[date, 'Cash']

In [491]:
df_trades

            AAPL       Cash   Port_Val
Date
2011-01-05  1500   501145.0  1000000.0
2011-01-06     0     2695.0   501145.0
2011-01-07     0  -499325.0     2695.0
2011-01-08     0 -1001345.0  -499325.0
2011-01-09     0 -1503365.0 -1001345.0
2011-01-10     0 -2014850.0 -1503365.0
2011-01-11     0 -2525120.0 -2014850.0
2011-01-12     0 -3039545.0 -2525120.0
2011-01-13     0 -3555845.0 -3039545.0
2011-01-14     0 -4076330.0 -3555845.0
2011-01-15     0 -4596815.0 -4076330.0
2011-01-16     0 -5117300.0 -4596815.0
2011-01-17     0 -5637785.0 -5117300.0
2011-01-18     0 -6146570.0 -5637785.0
2011-01-19     0 -6652655.0 -6146570.0
2011-01-20 -1500 -6652655.0 -6652655.0

In [55]:
row = orders.iloc[[2]]
stock = row['Symbol'][2]
date = row['Date'][2]
acp = util.get_data([stock], pd.date_range(date, date), addSPY=False).iloc[0, 0]
acp

144.55000000000001